# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.npmrc

# Testing
coverage/

# Misc
.DS_Store
.env
.idea/
.vscode/
*.swp
*.log
jpm-lock.json (if not intended to be versioned, though usually it is)

